div {
    border: 1px solid red;
}

body {
    display: flex;
    justify-content: center;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    height: 90vh;
}

#keys-container {
    display: flex;
    flex-wrap: wrap;
    height: 80%;
    justify-content: center;
    align-items: center;
}

.key-buttons {
    height: 15%;
    width: 20%;
    margin: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#display {
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#result {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}