* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
}

.containing, .key-buttons {
    border-radius: 10px;
    /* border: 2px solid red; */
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    height: 100vh;
}

#display {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darkslategray;
    font-size: 300%;
    color: white;
}


#keys-container {
    display: flex;
    flex-wrap: wrap;
    height: 80%;
    justify-content: center;
    align-items: center;
    padding-bottom: 10%;
}


.key-buttons {
    height: 15%;
    width: 20%;
    margin: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.key-buttons{
    font-size: 300%;
}