div {
    outline: 2px solid red;
}

body {
    display: flex;
    justify-content: center;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    height: 50vh;
}

#keys-container {
    display: flex;
    flex-wrap: wrap;
    height: 80%;
}

.key-buttons {
    height: 20%;
    width: 20%;
}