* { /*universal selector*/
    border-radius: 40px;
}


#main-container {
    height: 95vh;
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    touch-action: manipulation;
}

#display-container {
    height: 20%;
    width: 80%;
    display: flex;
    /* flex-direction: column-reverse; */
    justify-content: end;
    align-items: end;
    background-color: darkslategray;
    font-size: 300%;
    color: black;
    background-color: white;

}

p {
    margin: 0;
    padding: 5%;
}

#keys-container {
    height: 60%;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: end;
}


.key-buttons {
    height: 15%;
    width: 20%;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blanchedalmond;
    color: black;
    font-size: 300%;
}

#allclearkey, #addkey, #subtractkey, #dividekey, #multiplykey, #deldigitkey, #percentkey {
    background-color: orange;
}

#equalkey {
    background-color: green;
    color: white;
}