div {
    outline: 1px solid red;
}

body {
    display: flex;
    justify-content: center;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    height: 90vh;
}

#keys-container {
    display: flex;
    flex-wrap: wrap;
    height: 80%;
}

.key-buttons {
    height: 15%;
    width: 15%;
}

#display {
    height: 30%;
}